#main {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: 50px;
    border: solid 5px black;
    border-radius: 10px;
    width: 80%;
    padding: 15px;
}

/* Grid */
#grid-container {
    margin: auto;
    width: 550px;
    height: 550px;
    border: 3px black solid;
    border-radius: 5px;
    display: grid;
    padding: 3px;
}

.grid-cell {
    margin: auto;
    width: 100%;
    height: 100%;
}

/* Color Settings */
#color-settings {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 15%;
    margin: auto;
}

#colorPicker {
    margin: 10px;
    background-color: transparent;
    border: 2px black solid;
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

input[type="color"]::-webkit-color-swatch {
	border-radius: 50%;
}

.btn-mode {
    width: 90%;
    height: 30px;
    margin: 5px;
}

.btn-active{
    background-color: rgb(63, 56, 134);
    color: #ffffff;
}

/* Grid Settings */
#grid-settings {
    width: 15%;
    margin: auto;
    display: flex;
    flex-direction: column;
}

#slider-div {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#grid-def-slider {
    width: 100%;
    height: 30px;
    margin: 5px;
}

#btn-clear {
    width: 90%;
    height: 30px;
    margin: 5px;
    margin-top: 10px;
}
