#grid-container {
    margin: auto;
    width: 550px;
    height: 550px;
    border: 3px black solid;
    border-radius: 5px;
    display: grid;
    padding: 3px;
}

.grid-cell {
    margin: auto;
    width: 100%;
    height: 100%;
}

#settings {
    display: grid;
    width: 200px;
    float: left;
}

#color-picker-div {
    display: grid;
}

.btn-active{
    background-color: rgb(63, 56, 134);
    color: white;
}